/* CSS declarations go here */
img{
    max-width:100%;
}
.uploadForm {

    padding: 24px;
}
.lastTicket.list-group-item {
    background: #D5ECD5;
}
pre {
    background: #000;
    color: #0F0;
}
.jumbotron {
    background: #202D72!important;
     color: #FFF;
 }.panel-heading {
      background: #202D72!important;
      color: #FFF!important;
    border:none;
  }div#__blaze-root,body {
       background: #3F51B5;
       padding-top: 10px;
   }.panel{
             border:none;
         }

.panel-body {
    background: #F5F5F5;
}

.alert-success{
  display: none;
}