<template name="batchList">

    {{>filterModule}}
    <div class="batchList-container">
        <h3 class="lead">Results: <div class="btn btn-default pull-right fileTypeFilter">Show Files</div></h3>
    <div class="row ">
        <div class="col-sm-8">
            <div class="batches">
                {{#if tickets}}
                    {{#if searching}}
                        <div class="searching" style="padding:30px">
                            <p class="text-muted"><i class="fa fa-spin fa-spinner"></i> searching for "{{searchQuery}}"
                            </p>
                        </div>
                    {{else}}
                        {{#each tickets}}

                            <div class=" singlerecord">
                                <p>
                                    <a href="/edit/batch/{{_id}}" class="fileTitle">{{title}}</a></p>

                                <p class="filelink">
                                    /edit/batch/{{_id}}
                                    <span class="text-muted">({{date}})</span>
                                    {{#if user}}
                                    <span class="text-muted"><i class="fa fa-user"></i> {{user.profile.name}} </span>
                                    {{/if}}
                                </p>


                                <p class="caption text-muted">
                                    <!--<small>{{{summary}}}</small>-->
                                </p>
                                {{#if tags}}
                                    <div class="fileStuff">
                                        <a href="#" class="mini-title">
                                            <b>
                                                <i class="fa fa-tag"></i> tags:
                                            </b>
                                        </a>
                                        {{#each tags}}
                                            <a class="mini-title">
                                                {{this}}
                                            </a>
                                        {{/each}}
                                    </div>
                                {{/if}}
                                {{#if showFiles}}
                                    {{#each files}}
                                        <div class="list-group-item">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <img src="/icons/{{extension}}.png" style="width:100%" alt=""/>
                                            </div>
                                            <div class="col-sm-7">
                                                <a href="{{theFileLink}}" file="{{theFileLink}}" download class="">
                                                    <div><b>{{theFileMeta.metadata.title}}</b></div>
                                                    <small>{{theFileMeta.original.name}}</small>
                                                </a>
                                                <div>
                                                    {{theFileMeta.metadata.summary}}
                                                </div>
                                                <div class="text-muted"><small>Category: Marketing</small></div>
                                            </div>
                                            <div class="col-sm-4 text-right">

                                                <a href="{{theFileLink}}" download  file="{{theFileLink}}"  class="btn btn-xs btn-primary"><i class="fa fa-download"></i> Download</a>
                                            </div>
                                        </div>
                                        </div>

                                    {{/each}}
                                {{/if}}
                            </div>
                                
                        {{/each}}
                    {{/if}}
                {{else}}
                    {{#if advancedResults}}
                        {{#each advancedResults}}
                            <div class=" singlerecord">
                                <p> ADVANCED RESULT <br>
                                    <a href="/edit/batch/{{_id}}" class="fileTitle">{{title}}</a></p>

                                <p class="filelink">
                                    /edit/batch/{{_id}}
                                    <span class="text-muted">({{date}})</span>
                                </p>

                                <p class="caption text-muted">
                                    <small>{{summary}}</small>
                                </p>
                                {{#if tags}}
                                    <div class="fileStuff">
                                        <a href="#" class="mini-title">
                                            <b>
                                                <i class="fa fa-tag"></i> tags:
                                            </b>
                                        </a>
                                        {{#each tags}}
                                            <a class="mini-title">
                                                {{this}}
                                            </a>
                                        {{/each}}
                                    </div>
                                {{/if}}

                            </div>
                        {{/each}}
                    {{else}}
                        <div class="nothingFound">
                            <div class="text-muted"><i class="fa fa-warning"></i> No docs found with "{{searchQuery}}"..
                            </div>
                        </div>
                    {{/if}}
                {{/if}}

            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-12">
<pre>// query object
{{rawFilter}}</pre>
                </div>
                <div class="col-xs-12">
<pre>// form object
{{rawForm}}</pre>
                </div>
            </div>
        </div>
    </div>
    </div>
    {{#with tickets}}
        <div class="text-center pagBar">
            <p class="pagtitle">Pages (not dynamic yet)</p>
            <!--#todo make dynamic based on data-->
            <ul class="pagination pagination-sm">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
    {{/with}}

</template>