<template name="batchLanding">



    {{#each tickets}}

        <ol class="breadcrumb" style="margin-bottom: 5px;">
            <li><a href="/files">Documents</a></li>
            <li class="active">{{title}}</li>
        </ol>

        <div class="ticketInfo">


            <div class="thePanel">
                <p><code>{{_id}}</code></p>
                <h1>{{title}}</h1>
                <p class="lead">Summary: {{summary}}</p>
                <h6>Files:</h6>
                <div class="text-left">
                    {{#each files}}
                        <a href="{{theFileLink}}" file="{{theFileLink}}" download class="list-group-item">
                            <div><b>{{theFileMeta.metadata.title}}</b></div>
                            <div><small>{{theFileMeta.metadata.summary}}</small></div>
                            <small>{{theFileMeta.original.name}}</small>
                        </a>
                    {{/each}}
                </div>


            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-muted ticketMeta">
                        <a class="mini-title"><i class="fa fa-tag"></i></a>
                        {{#each tags}}
                            <a href="#" class="mini-title">
                                {{this}}
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>

            <pre>{{raw}}</pre>
        </div>
    {{/each}}


</template>