<template name="ticketLanding">
<!-- 	<div class="alert alert-success alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Success!</strong>Your changes have been saved.
	</div> -->

    {{#each tickets}}
	<h1>Ticket Landing</h1>
		<p>{{_id}}</p>
		<p>Title: {{title}}</p>
		<p>Summary: {{summary}}</p>
		<div class="form-group">
			<label>Title</label>
			<input id="titleInput" placeholder="Edit title: {{title}}" type="text" name="title" class="form-control"/>
			<label>Summary</label>
			<input id="summaryInput" placeholder="Edit Summary: {{summary}}" type="text" name="summary" class="form-control"/>
        </div>

        <button class="btn btn-primary publishMe" type="submit">Publish</button> 
		<a href="/" class="btn btn-warning cancelMe" type="cancel">Cancel</a>
		<button href="/" class="btn removeMe btn-danger" type="delete">Delete</button>
    {{/each}}
</template>