<template name="uploadForm">
    <div class="uploadForm">
        <form  class="ticketCreator">

            <div class="form-group">
                <label for="">Upload File(s)</label>
                <input type="file" class="myFileInput"/>

            </div>
            <div class="form-group">
                {{#if files}}
                    <div class="well">
                        <div class="list-group">
                            {{#each files}}
                                <div class="list-group-item">
                                    {{thisFile.original.name}}
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{else}}
                    <div class="alert alert-danger">
                        No files added...
                    </div>
                {{/if}}
            </div>

            <div class="form-group">
                <label>Title</label>
                <input placeholder="give this document a name..." type="text" name="title" class="form-control"/>
            </div>

            <div class="form-group">
                <label>Summary</label>
                <textarea placeholder="short description of this file..." name="summary" class="form-control"></textarea>
            </div>



            <div class="form-group">
                <button class="btn btn-primary" type="submit">Publish</button>
            </div>

        </form>
    </div>
</template>
