<template name="uploadForm">

    <div class="uploadForm">
        <form  class="ticketCreator" enctype="multipart/form-data">
            <div class="form-group">
                <label for="">Upload File(s)</label>
                <input type="file" class="form-control myFileInput" multiple=""/>
            </div>
            <div class="form-group">
                {{#if files}}
                    <div class="well">
                        <div class="list-group">
                            {{#each files}}
                                <div class="list-group-item">

                                <div class="btn btn-danger pull-right popFile">cancel</div>
                                    <p>
                                    <h4>
                                        {{#if thisFile.metadata.title}}
                                            {{thisFile.metadata.title}}
                                            <small>
                                                <a href="#" class="text-danger addTitle">edit title</a>
                                            </small>
                                        {{else}}
                                            <a href="#" class="addTitle">add title</a>
                                        {{/if}}
                                    </h4>
                                    </p>
                                    <p>
                                    <div class="summaryWell text-muted">
                                        {{#if thisFile.metadata.summary}}
                                            {{thisFile.metadata.summary}}
                                            <small>
                                                <a href="#" class="text-danger addSummary">edit summary</a>
                                            </small>
                                        {{else}}
                                            <a href="#" class="addSummary">add summary</a>
                                        {{/if}}
                                    </div>
                                    </p>
                                    <p><small class="text-muted">{{thisFile.original.name}}</small> </p>
                                    <div class="progress">
                                      <div class="progress-bar  {{#if isDone}} progress-bar-success{{else}}progress-bar-warning progress-bar-striped active{{/if}}" role="progressbar" aria-valuenow="{{uploadProg}}" aria-valuemin="0" aria-valuemax="100" style="width: {{uploadProg}}%">
                                        <span class="bottomlabel">{{uploadProg}}% Complete</span>
                                      </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{else}}
                    <div class="alert alert-danger">
                        No files added...
                    </div>
                {{/if}}
            </div>

            <div class="form-group">
                <label>Batch Title</label>
                <input placeholder="give this document a name..."  type="text" name="title" class="form-control"/>
            </div>

            <div class="form-group">
                <label>Batch Summary</label>
                <textarea placeholder="short description of this file..." name="summary" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label>Tags (comma seperated)</label>
                <input type="text" name="tags" class="form-control"/>
            </div>



            <div class="form-group">
                <button class="btn btn-primary" type="submit">Publish</button>
            </div>

        </form>
    </div>
</template>
