<template name="uploadForm">
    <div class="uploadForm">
        <form  class="ticketCreator">

            <div class="form-group">
                <label for="">Upload File</label>
                <input type="file" class="myFileInput"/>
            </div>

            <div class="form-group">
                <label>Title</label>
                <input placeholder="give this document a name..." type="text" name="title" class="form-control"/>
            </div>

            <div class="form-group">
                <label>Summary</label>
                <textarea placeholder="short description of this file..." name="summary" class="form-control"></textarea>
            </div>



            <div class="form-group">
                <button class="btn btn-primary" type="submit">Publish</button>
            </div>

        </form>
    </div>
</template>
