<template name="folderList">

<div class="folderList-container">

    {{#if folderList}}
        <h4>{{folderList.hits.total}} documents found <small>in {{folderList.took}} seconds</small></h4>
    {{/if}}

    <!-- div class="btn btn-default pull-right fileTypeFilter">{{#if showFiles}}Hide{{else}}Show{{/if}} Files</div -->

    <div class="row">
        <table class="searchResults">
            <thead>
            <th>&nbsp;</th>
            <th data-field="title"><a>Title <i class="material-icons">swap_vertical_circle</i></a></th>
            <th data-field="name"><a>Name <i class="material-icons">swap_vertical_circle</i></a></th>
            <th data-field="date"><a>Date <i class="material-icons">swap_vertical_circle</i></a></th>
            <th data-field="summary"><a>Summary <i class="material-icons">swap_vertical_circle</i></a></th>
            <th data-field="category"><a>Category <i class="material-icons">swap_vertical_circle</i></a></th>
            <th>&nbsp;</th>
            <!-- th data-field="star"><a><i class="material-icons">star</i> <i class="material-icons">swap_vertical_circle</i></a></th -->
            </thead>
            <tbody>
            {{#each folderList.hits.hits}}
                <tr class="folder">
                    <td><span class="badge">{{rounder _score}}</span></td>
                    <td class="title" colspan="3">
                        <div>
                            <a class="title searchItem" href="/folder/{{thisFolder._id}}?elasticid={{_id}}">{{thisFolder.title}}</a><br>
                            <span class="text-muted">{{thisFolder.userObj.profile.name}} | {{formatDate thisFolder.date}}</span>
                        </div>
                    </td>
                    <td>{{{stripHTML thisFolder.summary}}}</td>
                    <td>{{thisFolder.category}}</td>
                    <td><a class="showfiles"><i class="material-icons">more_vert</i></a></td>
                    <!-- td class="docStar"><i class="material-icons">star</i> <i class="material-icons">star border</i></td -->
                </tr>
                <tr class="options files-{{thisFolder._id}} hide">
                    <td class="title" colspan="7">
                        {{#each thisFolder.files}}
                            <a title="{{this}}"><i class="material-icons">insert_drive_file</i> file.txt</a>&nbsp;&nbsp;&nbsp;
                        {{/each}}
                        <div contextmenu="mymenu">

                            <menu type="context" id="mymenu">
                                <menuitem label="Refresh"></menuitem>
                                <menuitem label="Twitter"></menuitem>
                            </menu>

                        </div>

                        <a><i class="material-icons">file_download</i> Download All</a>&nbsp;&nbsp;&nbsp;
                        <a><i class="material-icons">mode_edit</i> Edit</a>&nbsp;&nbsp;&nbsp;
                        <a><i class="material-icons">delete</i> Remove</a>
                        <a class="list-cancel"><i class="material-icons">cancel</i> Cancel</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

    </div>


    <!-- end table layout -->

    <div class="row ">
        <div class="col-sm-8">
            <pre>// rawElastic
                {{rawElastic}}
            </pre>
            <pre>// rawFolders
                {{rawFolders}}
            </pre>

        </div>

        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-12">
                    <pre>// query rawFilter folderSearchQuery
                        {{rawFilter}}</pre>
                </div>
                <div class="col-xs-12">
                    <pre>// query rawProjection queryArgs
                        {{rawProjection}}</pre>
                </div>
                <div class="col-xs-12">
                    <pre>// form rawForm formBuilderObj
                        {{rawForm}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>


{{#with folders}}
    <div class="text-center pagBar">
        <p class="pagtitle">Pages (not dynamic yet)</p>
        <!--#todo make dynamic based on data-->
        <ul class="pagination pagination-sm">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </div>
{{/with}}

</template>
