<template name="folderList">

<div class="folderList-container">

    <!-- div class="btn btn-default pull-right fileTypeFilter">{{#if showFiles}}Hide{{else}}Show{{/if}} Files</div -->

    <div class="row">
        <table class="searchResults">
            <thead>
            <th>&nbsp;</th>
            <th data-field="title"><a>Title</a></th>
            <th data-field="name"><a>Creator</a></th>
            <th data-field="date"><a>Date</a></th> <!-- i class="material-icons">swap_vertical_circle</i -->
            <th data-field="summary"><a>Summary</a></th>
            <th data-field="category"><a>Category</a></th>
            <th>&nbsp;</th>
            <!-- th data-field="star"><a><i class="material-icons">star</i> <i class="material-icons">swap_vertical_circle</i></a></th -->
            </thead>
            <tbody>
            {{#each folderList.hits.hits}}
                <tr class="folder">
                    <td><i class="material-icons">insert_drive_file</i></td>
                    <td class="title" colspan="3">
                        <div>
                            <a class="title searchItem" href="/folder/{{thisFolder._id}}?elasticid={{_id}}">{{thisFolder.title}}</a><br>
                            <b class="pull-right">{{rounder _score}}</b><span class="text-muted">{{thisFolder.userObj.profile.name}} | {{formatDate thisFolder.date}}</span>
                        </div>
                    </td>
                    <td>{{{stripHTML thisFolder.summary}}}</td>
                    <td>{{thisFolder.category}}</td>
                    <td><a href="#folderActions" class="actions"><i class="material-icons">more_vert</i></a></td>
                    <!-- td class="docStar"><i class="material-icons">star</i> <i class="material-icons">star_border</i></td -->
                </tr>
                <tr class="options files-{{thisFolder._id}} hide">
                    <td class="title" colspan="7">
                        {{#each thisFolder.files}}
                            <a title="{{this}}"><i class="material-icons">insert_drive_file</i> file.txt</a>&nbsp;&nbsp;&nbsp;
                        {{/each}}
                        <div contextmenu="mymenu">

                            <menu type="context" id="mymenu">
                                <menuitem label="Refresh"></menuitem>
                                <menuitem label="Twitter"></menuitem>
                            </menu>

                        </div>
                        <div class="contextmenu">
                            <a><i class="material-icons">file_download</i> Download All</a>&nbsp;&nbsp;&nbsp;
                            <a class="editFolder"><i class="material-icons">mode_edit</i> Edit</a>&nbsp;&nbsp;&nbsp;
                            <a><i class="material-icons">delete</i> Remove</a>
                            <a class="list-cancel"><i class="material-icons">cancel</i> Cancel</a>
                        </div>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

    </div>
    {{#if folderList}}
        <small class="search_details">{{folderList.hits.total}} documents found <em>in {{folderList.took}} seconds</em></small>
    {{/if}}

    {{#with pagination}}
        <div class="text-center pagBar">
            <ul class="pagination pagination-sm">
                {{#each pagination}}
                <li class="{{class}}"><a class="page_query" data-page="{{nav}}" href="#">{{name}}</a></li>
                 {{/each}}
            </ul>
        </div>
    {{/with}}

    <!-- end table layout -->

    <!-- div class="row ">
        <div class="col-sm-8">
            <pre>// rawfolderList
                {{rawfolderList}}
            </pre>

        </div>

        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-12">
                    <pre>// query rawFilter folderSearchQuery
                        {{rawFilter}}</pre>
                </div>
                <div class="col-xs-12">
                    <pre>// query rawProjection queryArgs
                        {{rawProjection}}</pre>
                </div>
                <div class="col-xs-12">
                    <pre>// form rawForm formBuilderObj
                        {{rawForm}}</pre>
                </div>
            </div>
        </div>
    </div -->
</div>
    <div id="folderActions" class="modal bottom-sheet">
        <div class="modal-content mobile-actions">
            <a class="btn-large"><i class="material-icons">file_download</i> Download All</a>
            <a class="btn-large viewFolder"><i class="material-icons">remove_red_eye</i> View</a>
            <a class="btn-large editFolder"><i class="material-icons">mode_edit</i> Edit</a>
            <a class="btn-large"><i class="material-icons">delete</i> Remove</a>
            <a class="btn-large modal-action modal-close bottom-btn"><i class="material-icons">cancel</i> Cancel</a>

            <a href="{{this._id}}">{{this.title}}</a>
        </div>
    </div>
    <a href="#folderActions" class="modal-trigger">x</a>
</template>
